<?xml version="1.0" encoding="utf-8"?>
<!-- DHDynDNSAgent configuration file.
		This file is read only during daemon startup. Changes to this file will not take effect until the daemon is restarted. -->
<c:Configuration xmlns:c='http://badpointer.net/XML/DHDNSConfig.xml'>
  <Api>
    <!-- Dreamhost API Key. Requires dns-* permissions -->
    <!-- <Key>6SHU5P2HLDAYECUM</Key> -->
	<Key>QNZ9PLW26G874JNL</Key>
    <!-- Dreamhost API Server, you shouldn't need to change this -->
    <HostName>https://api.dreamhost.com</HostName>
  </Api>
  <!-- Domain to configure hostname should be the full name of the domain. -->
  <Domain>
    <HostName>fedora-vm.server.dynamic.badpointer.net</HostName>
    <Zone>badpointer.net</Zone>
  </Domain>
  <Settings>
    <!-- URL to a server that returns an xml document that has a path of /ip/address -->
    <ExternalIPCheck>http://scripts.badpointer.net/external_ip.php</ExternalIPCheck>
    <!-- name of the element that contains the ip address. e.g 127.0.0.1 -->
    <ExternalIPCheckElement>ip.address</ExternalIPCheckElement>
    <!-- How often to check if the hosts external ip address has changed. By default this is every 240 minutes as 
		Dreamhosts dns servers have a 4 hour cache time so there is little point in checking more often then this.-->
    <CheckInterval>240</CheckInterval>
  </Settings>
</c:Configuration>
