<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="apikey" value="YOURKEYHERE" />
  
  <!-- Allow for overriding the values if needed. -->
  <!--<add key="apiserver" value="https://api.dreamhost.com"/>-->
  <!--<add key="" value="http://scripts.badpointer.net/external_ip.php"/>-->
</appSettings>